<ion-content [fullscreen]="true" class="register-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" offset-md="2">
        <div class="register-header">
          <h1 class="register-title">Crear Cuenta</h1> 
        </div>

        <!-- Formulario de Registro -->
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="input-container">
            <ion-label class="input-label">Nombre de Usuario</ion-label>
            <ion-item class="register-item">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input formControlName="username"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="registerForm.controls['username'].errors?.['usernameTaken']">
              El nombre de usuario ya está en uso.
            </ion-note>
            <ion-note color="danger" *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched && !registerForm.controls['username'].errors?.['usernameTaken']">
              El nombre de usuario es obligatorio.
            </ion-note>          
          </div>

          <div class="input-container">
            <ion-label class="input-label">Correo Electrónico</ion-label>
            <ion-item class="register-item">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="registerForm.controls['email'].errors?.['emailTaken']">
              El correo ya está en uso.
            </ion-note>
            <ion-note color="danger" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched && !registerForm.controls['email'].errors?.['emailTaken']">
              Email es obligatorio
            </ion-note>
          </div>

          <div class="input-container">
            <ion-label class="input-label">Contraseña</ion-label>
            <ion-item class="register-item">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
              La contraseña debe tener al menos 8 caracteres.
            </ion-note>
          </div>

          <ion-button expand="full" type="submit" [disabled]="registerForm.invalid || registerForm.pending" class="register-button">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Registrar
          </ion-button>
        </form>

        <div class="register-footer">
          <div class="login-link">
            <ion-text color="medium">¿Ya tienes una cuenta?</ion-text>
            <ion-button fill="clear" color="primary" (click)="navigateLogin()" class="login-button">
              Inicia Sesión aquí
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
