.perfil-content {
  --background: linear-gradient(to bottom, #a8dadc, #f1faee);
  padding: 16px;
}

.perfil-card {
  border-radius: 16px;
  background: linear-gradient(135deg, #ffffff, #f7f7f7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.perfil-card-header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1d3557;
  margin-bottom: 15px;
}

.perfil-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1d3557;
  text-align: center;
}

.perfil-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 16px;
}

.perfil-img {
  width: 120px;
  height: 120px;
  border: 3px solid #d4af37;
  object-fit: cover;
  object-position: center;
}

ion-item {
  --background: transparent !important;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #1d3557;
}

ion-label {
  font-weight: 600;
  color: #1d3557;
}

ion-text {
  font-size: 1rem;
  color: #1d3557;
}

ion-list {
  background: transparent !important;
}

ion-chip {
  margin: 4px;
  --color: #1d3557;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
}

.icon {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #d4af37;
}

.perfil-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

ion-button {
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

ion-button:hover {
  transform: scale(1.05);
}

.chart-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  height: 200px;
  padding: 20px;
  
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.bar {
  width: 100%;
  background-color: #4CAF50;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: height 0.3s ease-in-out;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.mood-history-card {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --background: transparent !important;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.title-icon {
  font-size: 1.6rem;
  margin-right: 8px;
  color: #ffcc00;
}

.mood-list {
  padding: 10px;
}

.mood-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.mood-chip {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
}

.mood-icon {
  font-size: 1.5rem;
  margin-right: 8px;
}

.mood-label {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 0.8rem;
  color: #555;
  font-style: italic;
}
