.chat-box {
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100vw;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0;
  margin: 0;
}

.chat-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  overscroll-behavior: contain;
}

.message-list {
  flex-grow: 1;
  padding: 1rem 0.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none; 

   &::-webkit-scrollbar {
    display: none;           /* Chrome, Safari, Opera */
  }
}

.my-message,
.their-message {
  border-radius: 10px;
  padding: 8px 12px;
  margin: 4px 0;
  max-width: 80%;
  word-wrap: break-word;
  box-sizing: border-box;
  color: black;
}

.my-message {
  align-self: flex-end;
  background: #dcf8c6;
  text-align: right;
  margin-right: 10px;
}

.their-message {
  align-self: flex-start;
  background: #eee;
  text-align: left;
  margin-left: 10px;
}

ion-item {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 10;
  margin: 0;
  padding: 0 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

ion-input {
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-right: 10px;
  color: black;
  font-size: 16px;
}

ion-input::placeholder {
  color: #888;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

ion-icon {
  font-size: 20px;
}

/* Estilos para el contenedor de foto y nombre */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}
