<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="plan" href="/tabs/plan">
      <ion-icon name="checkmark-done"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario" href="/tabs/calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="explorar" href="/tabs/explorar">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="comunidad" href="/tabs/comunidad">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Comunidad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
