<ion-content [fullscreen]="true" class="plan-content">
  <div class="plan-header">
    <h1 class="plan-title">Registra tu Estado de Ánimo</h1>
  </div>

  <!-- Contenido principal -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8">
        <!-- Registro de estado de ánimo -->
        <div class="mood-container">
          <div class="mood-section">
            <p class="mood-registered-msg">¿Cómo te sientes hoy?</p>

            <ion-grid>
              <ion-row>
                <ion-col size="6"
                  ><ion-button
                    class="mood-button happy"
                    expand="full"
                    (click)="setMood('Muy bien')"
                  >
                    <ion-icon slot="start" name="happy-outline"></ion-icon> Muy
                    bien
                  </ion-button>
                </ion-col>
                <ion-col size="6"
                  ><ion-button
                    class="mood-button good"
                    expand="full"
                    (click)="setMood('Bien')"
                  >
                    <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                    Bien
                  </ion-button>
                </ion-col>
                <ion-col size="6"
                  ><ion-button
                    class="mood-button neutral"
                    expand="full"
                    (click)="setMood('Neutro')"
                  >
                    <ion-icon slot="start" name="remove-outline"></ion-icon>
                    Neutro
                  </ion-button>
                </ion-col>
                <ion-col size="6"
                  ><ion-button
                    class="mood-button bad"
                    expand="full"
                    (click)="setMood('Mal')"
                  >
                    <ion-icon
                      slot="start"
                      name="thumbs-down-outline"
                    ></ion-icon>
                    Mal
                  </ion-button>
                </ion-col>
                <ion-col size="12"
                  ><ion-button
                    class="mood-button very-bad"
                    expand="full"
                    (click)="setMood('Muy mal')"
                  >
                    <ion-icon slot="start" name="sad-outline"></ion-icon> Muy
                    mal
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
