@media (min-width: 1024px) {
  ion-list {
    margin: 0 auto;
    max-width: 600px;
  }
}

.plan-content {
  --background: var(--bg-gradient-primary);
}

.plan-header {
  margin: 10px 0 25px 10px;
}

.plan-title {
  font-weight: bold;
  color: var(--text-color-title);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mood-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px;
}

.mood-section {
  text-align: center;
  background: black;
  border-radius: var(--card-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.mood-registered-msg {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--bg-white);
}

.mood-button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}

.happy,
.good,
.neutral,
.bad,
.very-bad {
  --color: white;
}

.happy { --background: #2dd36f; }
.good { --background: #3880ff; }
.neutral { --background: #ffc409; --color: black; }
.bad { --background: #eb445a; }
.very-bad { --background: #222428; }