<ion-content [fullscreen]="true" class="plan-content">
  <div class="plan-header">
    <h1 class="plan-title">Registra tu Estado de Ánimo</h1>
  </div>

  <div class="mood-container">
    <div class="mood-section">
      <p class="mood-registered-msg">¿Cómo te sientes hoy?</p>

      <div class="mood-buttons-container">
        <ion-button class="mood-button happy" expand="block" (click)="setMood('Muy bien')">
          <ion-icon slot="start" name="happy-outline"></ion-icon> Muy bien
        </ion-button>
        
        <ion-button class="mood-button good" expand="block" (click)="setMood('Bien')">
          <ion-icon slot="start" name="thumbs-up-outline"></ion-icon> Bien
        </ion-button>
        
        <ion-button class="mood-button neutral" expand="block" (click)="setMood('Neutro')">
          <ion-icon slot="start" name="remove-outline"></ion-icon> Neutro
        </ion-button>
        
        <ion-button class="mood-button bad" expand="block" (click)="setMood('Mal')">
          <ion-icon slot="start" name="thumbs-down-outline"></ion-icon> Mal
        </ion-button>
        
        <ion-button class="mood-button very-bad" expand="block" (click)="setMood('Muy mal')">
          <ion-icon slot="start" name="sad-outline"></ion-icon> Muy mal
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>