<ion-content class="preguntas-content">
  <div class="plan-header">
        <ion-buttons slot="start">
          <ion-menu-button style="font-size: 22px; color: black"></ion-menu-button>
        </ion-buttons>
        <h1 class="plan-title">Preguntas Frecuentes</h1>
      </div>

  <p class="preguntas-subtitle">Encuentra respuestas a tus dudas más comunes</p>

  <ion-accordion-group expand="inset">
    <ion-accordion value="uno">
      <ion-item slot="header">
        <ion-label>¿Cuál es el mejor momento para meditar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Recomendamos que la meditación sea su primera actividad después de despertarse, si es posible. Es una excelente manera de comenzar el día, y generalmente es el momento más fácil para encontrar unos minutos de paz. Lo más importante es elegir un horario que funcione para usted y que facilite su regularidad al mismo tiempo.
      </div>
    </ion-accordion>

    <ion-accordion value="dos">
      <ion-item slot="header">
        <ion-label>¿Cómo me hago el tiempo para meditar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Intenta vincular la práctica con otra parte de tu rutina, como lavarte los dientes. Al despertarte, piensa esto: meditar, lavarme los dientes, beber café. Y no te frustres si te pierdes una sesión. Es algo que nos pasa a todos. Solo asegúrate de seguir esa rutina al día siguiente.
      </div>
    </ion-accordion>

    <ion-accordion value="tres">
      <ion-item slot="header">
        <ion-label>¿Dónde debería meditar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        No necesitas caminar hasta la cima de la montaña más cercana. Puedes meditar en cualquier lugar que sea cómodo, razonablemente silencioso, y donde sea probable que nadie te vaya a interrumpir.
      </div>
    </ion-accordion>

    <ion-accordion value="cuatro">
      <ion-item slot="header">
        <ion-label>¿Cómo tengo que sentarme durante la meditación?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Siéntate en la mitad de la silla con las piernas sin cruzar, los pies bien apoyados en el piso y las manos relajadas sobre tus piernas o tu regazo. Lo importante es que coloques el cuerpo en una postura en la que los músculos puedan desconectarse y tú puedas relajarte.
      </div>
    </ion-accordion>

    <ion-accordion value="cinco">
      <ion-item slot="header">
        <ion-label>¿Puedo acostarme para meditar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Por lo general, recomendamos que te sientes y no que te acuestes. Sin embargo, si sentarte erguido te genera algún malestar o te resulta incómodo, está bien que te acuestes. Prueba colocarte una almohada delgada bajo la cabeza y doblar las rodillas para que los pies queden apoyados en el suelo. Eso ayudará a proteger tu espalda baja.
      </div>
    </ion-accordion>

    <ion-accordion value="seis">
      <ion-item slot="header">
        <ion-label>¿Debo respirar de alguna manera en particular?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        No. Cuando meditamos, no tenemos que intentar respirar de ninguna manera en especial. Solo deja que tu respiración fluya con naturalidad.
      </div>
    </ion-accordion>

    <ion-accordion value="siete">
      <ion-item slot="header">
        <ion-label>¿Cómo vuelvo a meditar después de unas vacaciones?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Depende de cuánto tiempo te hayas ido. Si han sido solo unos días, simplemente vuelve a comenzar donde lo habías dejado. Si fue una semana o más, te recomendamos que vuelvas a comenzar el módulo de cero. Si fue más de un mes, probablemente necesites hacer el módulo básico de nuevo, para volver a sentirte cómodo meditando antes de seguir avanzando con el contenido.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
