ion-content {
    ion-grid{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        height: 100%;
        padding: 20px; 
    }
  
    ion-card {
      width: 100%;
      max-width: 400px; /* Tamaño máximo del ion-card */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      margin: 0 auto; /* Centra horizontalmente el ion-card */
    }
  
    ion-card-header {
      text-align: center;
      font-size: 1.4rem;
      background-color: #007bff;
      padding: 16px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      color: white;
    }
  
    ion-card-content {
      padding: 16px;
      font-size: 1.1rem;
      color: #555;
  
      ion-item {
        margin-bottom: 12px;
      }
    }
  
    ion-button {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        padding: auto; 
        margin-top: 16px;
        --background: #007bff;
        --color: white;
        --border-radius: 8px;
        font-size: 1rem;
        --box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    }
  }
  