<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="plan-header">
    <ion-toolbar>
      <h1 class="plan-title">Calendario de Notas</h1>
      <ion-buttons slot="end">
        <ion-button expand="block" (click)="setToday()"> Hoy </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month"> Mes </ion-segment-button>
    <ion-segment-button value="week"> Semana </ion-segment-button>
    <ion-segment-button value="day"> Día </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-text-left">
        <ion-button fill="clear" (click)="calendarBack()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col size="6" class="ion-text-center">
        <h2>{{ viewTitle }}</h2>
      </ion-col>
      
      <ion-col size="3" class="ion-text-right">
        <ion-button fill="clear" (click)="calendarForward()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <calendar 
    [calendarMode]="calendar.mode" 
    (onTitleChanged)="viewTitle = $event" 
    [startingDayWeek]="1"
    [startHour]="6"
    [endHour]="24"
  ></calendar>
</ion-content>