.plan-content {
  --background: linear-gradient(to bottom, #a8dadc, #f1faee);
}

.plan-header {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 32px;
}

.plan-title {
  font-weight: bold;
  color: #1d3557;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-container, .plan-list {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
}


.custom-item {
  border-radius: 8px;
  margin-bottom: 10px;
  --background: white;
  --color: #1d3557;
  border: 1px solid rgba(29, 53, 87, 0.2);
}

ion-label {
  color: #1d3557;
}

ion-datetime {
  background: rgba(255, 255, 255, 0.2); 
  color: #1d3557; 
  border-radius: 12px;
  padding: 14px;
  font-size: 17px; 
  font-weight: 600; 
  border: 1.5px solid rgba(255, 255, 255, 0.4); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12); 
  transition: background 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.custom-button {
  margin-top: 15px;
  background: #1d3557;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.custom-button:hover {
  background: #457b9d;
}

.cancel-button {
  margin-top: 10px;
  background: #e63946;
  color: white;
}



.plan-divider {
  font-size: 1.2rem;
  font-weight: bold;
  color: #457b9d;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-left: 5px solid #1d3557;
}

.task-card {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
  border-left: 6px solid #1d3557;
}

.task-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background: #f1faee;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.task-time {
  font-size: 1rem;
  font-weight: bold;
  color: #1d3557;
  margin-right: 12px;
  padding: 6px 10px;
  background: #f1faee;
  border-radius: 5px;
}

.task-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1d3557;
  flex-grow: 1;
}

.delete-button {
  color: #e63946;
}

.note-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-left: 6px solid #1d3557;
  color: #1d3557; 
}

.note-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background: #f1faee;
}

.note-card * { 
  color: #1d3557 !important; 
}

.delete-button {
  color: #e63946 !important;
}

.delete-button ion-icon {
  color: #e63946 !important; 
  font-size: 1.4rem; 
}
