.modal{
    --background: var(--bg-gradient-primary);
}

.group{
    background: #fff;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    margin-bottom: 20px;
    color: black;
}

.plan-title {
    font-weight: bold;
    color: #1d3557;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

ion-item{
    --background: white;
    color: black;
}

ion-datetime{
    background: white;
    color: black;
}

ion-toolbar{
    --background: linear-gradient(to bottom, #8ecae6, #f1faee);
}