<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ questions[currentQuestionIndex].texto }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Consentimiento -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'consentimiento'">
        <ion-checkbox 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="consentimiento" 
          slot="start">
        </ion-checkbox>
        <ion-label class="color">
          Acepto el registro y manejo de mis datos personales conforme a la 
          <strong>Política de Privacidad</strong>, que incluye el uso responsable, almacenamiento seguro y la posibilidad de ejercer mis derechos de acceso, rectificación, cancelación y oposición.
        </ion-label>
      </ion-item>

      <!-- Nombre Completo -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'nombre_completo'">
        <ion-input 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="nombre_completo"
          placeholder="Escriba su nombre completo">
        </ion-input>
      </ion-item>

      <!-- Carrera -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'carrera'">
        <ion-select 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="carrera"
          placeholder="Selecciona tu carrera">
          <ion-select-option value="Ingeniería de Sistemas">Ingeniería de Sistemas</ion-select-option>
          <ion-select-option value="Ingeniería Multimedia">Ingeniería Multimedia</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Semestre -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'semestre'">
        <ion-select 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="semestre"
          placeholder="Selecciona tu semestre">
          <ion-select-option value="1">1 semestre</ion-select-option>
          <ion-select-option value="2">2 semestre</ion-select-option>
          <ion-select-option value="3">3 semestre</ion-select-option>
          <ion-select-option value="4">4 semestre</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Edad -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'edad'">
        <ion-input 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          type="number" 
          name="edad"
          placeholder="Ingresa tu edad"
          required>
        </ion-input>
      </ion-item>

      <!-- Sexo -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'sexo'">
        <ion-select 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="sexo" 
          placeholder="Selecciona tu sexo">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Técnicas -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'tecnicas'">
        <ion-select 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          placeholder="Selecciona una opción">
          <ion-select-option value="si">Sí</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Actividades -->
      <ion-item *ngIf="questions[currentQuestionIndex].id === 'actividades'">
        <ion-select 
          [(ngModel)]="answers[questions[currentQuestionIndex].id]" 
          name="actividades" 
          multiple="true" 
          placeholder="Selecciona tus actividades">
          <ion-select-option value="Meditación">Meditación</ion-select-option>
          <ion-select-option value="Sonidos Relajantes">Sonidos Relajantes</ion-select-option>
          <ion-select-option value="Ejercicios de respiración">Ejercicios de respiración</ion-select-option>
          <ion-select-option value="Prácticas para Dormir">Prácticas para Dormir</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Horarios -->
      <div *ngIf="questions[currentQuestionIndex].id === 'horario'" class="horarios-container">

        <!-- Mañana -->
        <ion-item-divider color="light" (click)="toggleSeleccion('manana')">
          Mañana
          <ion-icon [name]="mostrarManana ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
        </ion-item-divider>
        <ion-list *ngIf="mostrarManana">
          <ion-item *ngFor="let opcion of questions[currentQuestionIndex].opcionesHorarios?.manana">
            <ion-label>{{ opcion }}</ion-label>
            <ion-checkbox 
              [checked]="answers['horario']?.manana?.includes(opcion)" 
              (ionChange)="toggleHorario(opcion, 'manana')"
              [disabled]="answers['horario']?.manana?.length >= 2 && !answers['horario']?.manana?.includes(opcion)">
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <!-- Tarde -->
        <ion-item-divider color="light" (click)="toggleSeleccion('tarde')">
          Tarde
          <ion-icon [name]="mostrarTarde ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
        </ion-item-divider>
        <ion-list *ngIf="mostrarTarde">
          <ion-item *ngFor="let opcion of questions[currentQuestionIndex].opcionesHorarios?.tarde">
            <ion-label>{{ opcion }}</ion-label>
            <ion-checkbox 
              [checked]="answers['horario']?.tarde?.includes(opcion)" 
              (ionChange)="toggleHorario(opcion, 'tarde')"
              [disabled]="answers['horario']?.tarde?.length >= 2 && !answers['horario']?.tarde?.includes(opcion)">
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <!-- Noche -->
        <ion-item-divider color="light" (click)="toggleSeleccion('noche')">
          Noche
          <ion-icon [name]="mostrarNoche ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
        </ion-item-divider>
        <ion-list *ngIf="mostrarNoche">
          <ion-item *ngFor="let opcion of questions[currentQuestionIndex].opcionesHorarios?.noche">
            <ion-label>{{ opcion }}</ion-label>
            <ion-checkbox 
              [checked]="answers['horario']?.noche?.includes(opcion)" 
              (ionChange)="toggleHorario(opcion, 'noche')"
              [disabled]="answers['horario']?.noche?.length >= 2 && !answers['horario']?.noche?.includes(opcion)">
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- botones -->
  <ion-button 
    *ngIf="currentQuestionIndex !== questions.length - 1 || questions[currentQuestionIndex].id !== 'horario'" 
    expand="full" 
    (click)="nextQuestion()" 
    [disabled]="!isQuestionAnswered()">
    Siguiente
  </ion-button>

  <ion-button 
    expand="full" 
    (click)="updateUser()" 
    *ngIf="currentQuestionIndex === questions.length - 1 && isQuestionAnswered()">
    Terminar y continuar
  </ion-button>

  <ion-text color="success" *ngIf="savedSuccessfully" style="margin-top: 15px; display: block; text-align: center;">
    ¡Datos guardados con éxito!
  </ion-text>  
</ion-grid>
</ion-content>