<ion-content [fullscreen]="true">
  <!-- Spinner de Carga -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando Plan Diario...</p>
  </div>

  <!-- Contenido Principal -->
  <div class="container content" [class.loaded]="!isLoading">
    <div *ngIf="!isLoading && planDiario">
      <div class="plan-header">
        <ion-buttons slot="start">
          <ion-menu-button style="font-size: 22px; color: black"></ion-menu-button>
        </ion-buttons>
        <h1 class="plan-title">Tu Plan Diario</h1>
      </div>

      <ion-grid>
        <ion-row class="horarios-row">
          <!-- Franjas Horarias -->
          <ion-col *ngFor="let franja of getFranjasPlanificadas()" size="12" size-md="4">
            <ion-card class="horario-card">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon
                    [name]="getIconForFranja(franja)"
                    class="horario-icon"
                  ></ion-icon>
                  {{ franja | titlecase }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div *ngIf="planDiario[franja]?.length > 0">
                  <ion-list>
                    <ion-item *ngFor="let actividad of planDiario[franja]">
                      <ion-checkbox slot="start" class="custom-checkbox"></ion-checkbox>
                      <ion-label>
                        <h2>{{ actividad.titulo }}</h2>
                        <p class="actividad">{{ actividad.duracion }}</p>
                        <p class="actividad">{{ actividad.autor }}</p>
                      </ion-label>
                      <!-- Botón de Ver Más -->
                      <ion-button
                        fill="clear"
                        size="small"
                        class="detail-button"
                        (click)="verDetalle(actividad._id)"
                      >
                        Ir <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-list>
                </div>
                <ng-template #sinActividades>
                  <p *ngIf="planDiario[franja]?.length === 0">No hay actividades para esta franja.</p>
                </ng-template>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
