<ion-content [fullscreen]="true">
  <!-- Encabezado con botón de menú -->
  <div *ngIf="showCategories" class="plan-header">
    <ion-buttons slot="start">
      <ion-menu-button style="font-size: 22px; color: black"></ion-menu-button>
    </ion-buttons>
    <h1 class="plan-title">Explorar</h1>
  </div>

  <!-- Botón para volver a la lista de categorías -->
  <div *ngIf="!showCategories" class="back-bar">
    <ion-icon
      name="arrow-back"
      class="back-icon"
      (click)="showCategoryList()"
    ></ion-icon>
    <h2 class="category-title">{{ currentCategory }}</h2>
  </div>

  <!-- Lista de categorías -->
  <ion-list *ngIf="showCategories" class="card-list">
    <ion-card
      *ngFor="let category of categories"
      (click)="loadResources(category)"
      class="category-card"
    >
      <ion-card-header>
        <ion-card-title class="category">{{ category }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <!-- Recursos de la categoría seleccionada -->
  <ion-list *ngIf="!showCategories" class="resource-list">
    <ion-card *ngFor="let resource of resources" class="resource-card">
      <ion-card-content>
        <h2 class="resource-title">{{ resource.titulo }}</h2>
        <p class="resource-detail">👤 Autor: {{ resource.autor }}</p>
        <p class="resource-detail">⏱️ Duración: {{ resource.duracion }} min</p>
        <ion-button
          fill="clear"
          size="small"
          class="detail-button"
          (click)="verDetalle(resource._id)"
        >
          Ver más <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
