<ion-content>
  <!-- Botones -->
  <div>
    <ion-buttons slot="start">
      <ion-menu-button
        style="font-size: 22px; color: black"
      ></ion-menu-button>
    </ion-buttons>
  </div>
  <ion-segment [(ngModel)]="activeSection" class="custom-segment">
    <ion-segment-button value="friendsList">
      <ion-icon name="people"></ion-icon>
      <span>Amigos</span>
    </ion-segment-button>
    <ion-segment-button value="addFriends">
      <ion-icon name="person-add"></ion-icon>
      <span>Agregar</span>
    </ion-segment-button>
    <ion-segment-button value="friendRequests">
      <ion-icon name="mail"></ion-icon>
      <span>Solicitudes</span>
    </ion-segment-button>
  </ion-segment>

  <!-- Lista de amigos -->
  <div *ngIf="activeSection === 'friendsList'" class="section">
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-button (click)="toggleManageFriends()" size="small"
              >{{ manageFriends ? 'Cancelar Gestión' : 'Gestionar Amigos'
              }}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <!-- Amigos -->
    <ion-card class="friend-card">
      <ion-card-header>
        <ion-card-title>Amigos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngIf="friends.length > 0; else noFriends">
          <ion-item *ngFor="let friend of friends" lines="full">
            <ion-avatar slot="start" class="custom-avatar">
              <img
                [src]="friend.friendId.profileImage"
                alt="{{ friend.friendId.username }}"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="custom-name">{{ friend.friendId.username }}</h2>
              <p>{{ friend.friendId.informacion }}</p>
            </ion-label>

            <ion-button
              slot="end"
              (click)="manageFriends ? deleteFriend(friend.friendId._id) : goToChat(friend.friendId._id)"
              [color]="manageFriends ? 'danger' : 'primary'"
              fill="outline"
            >
              <ion-icon
                color="primary"
                name="chatbubbles-outline"
                slot="icon-only"
              ></ion-icon>
              {{ manageFriends ? 'Eliminar' : 'Chatear' }}
            </ion-button>
          </ion-item>
        </ion-list>
        <ng-template #noFriends>
          <p class="empty-message">
            No tienes amigos aún. ¡Empieza a agregar amigos!
          </p>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <!-- Psicologo -->
    <ion-card class="friend-card" *ngIf="psicologos.length > 0">
      <ion-card-header>
        <ion-card-title>Psicologos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let psicologo of psicologos">
          <ion-item lines="full">
            <ion-avatar slot="start" class="custom-avatar">
              <img
                [src]="psicologo.profileImage"
                alt="{{ psicologo.username }}"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="custom-name">{{ psicologo.nombre_completo }}</h2>
              <p>{{ psicologo.informacion }}</p>
            </ion-label>

            <ion-button
              slot="end"
              (click)="goToChat(psicologo._id)"
              [color]="'primary'"
              fill="outline"
            >
              <ion-icon
                color="primary"
                name="chatbubbles-outline"
                slot="icon-only"
              ></ion-icon>
              Chatear
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <app-chat-box
    *ngIf="chatOpen"
    [contactId]="selectedContactId"
    (closeChat)="chatOpen = false"
  >
  </app-chat-box>

  <!-- Agregar amigos -->
  <div *ngIf="activeSection === 'addFriends'" class="section">
    <ion-card-header>
      <ion-card-title>Agregar Amigos</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input
            type="text"
            placeholder="Buscar amigos por Username"
            [(ngModel)]="searchTerm"
            (ionInput)="searchFriends()"
          ></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let user of filteredUsers" lines="full">
            <ion-avatar slot="start" class="custom-avatar">
              <img [src]="user.profileImage" alt="{{ user.username }}" />
            </ion-avatar>
            <ion-label>
              <h2 class="custom-name">{{ user.username }}</h2>
              <p>{{ user.informacion }}</p>
            </ion-label>
            <ion-button
              slot="end"
              (click)="sendFriendRequest(user._id)"
              shape="round"
              color="success"
            >
              Agregar
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Solicitudes -->
  <div *ngIf="activeSection === 'friendRequests'" class="section">
    <ion-card-header>
      <ion-card-title>Solicitudes de Amistad</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-card-content>
        <ion-list *ngIf="pendingRequests.length > 0; else noRequests">
          <ion-item *ngFor="let request of pendingRequests" lines="full">
            <ion-avatar slot="start" class="custom-avatar">
              <img
                [src]="request.friendId.profileImage"
                alt="{{ request.friendId.username }}"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="custom-name">{{ request.friendId.username }}</h2>
            </ion-label>
            <ion-button
              slot="end"
              (click)="acceptFriendRequest(request.friendId._id)"
              shape="round"
              color="success"
            >
              Aceptar
            </ion-button>
            <ion-button
              slot="end"
              color="danger"
              shape="round"
              (click)="declineFriendRequest(request.friendId._id)"
            >
              Eliminar
            </ion-button>
          </ion-item>
        </ion-list>
        <ng-template #noRequests>
          <p class="empty-message">
            No tienes solicitudes de amistad pendientes.
          </p>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
